<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">Node boilerplate</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="left">
			<li class="active"><a href="#">item #1</a></li>
		</ul>
	</section>
</nav>