@charset "UTF-8";

// our variables
@import "variables";

// normalize lib
@import "../vendor/foundation/normalize";

// foundation 4 lib
@import "../vendor/foundation/foundation";

// our styles

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

.button {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ie-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
    border: none;
}
.button:hover {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

nav a:hover {
    text-decoration: none;
}

html {
    min-height: 100%;
    background: #fff;
}

nav {
    box-shadow: 0px 0px 3px rgba(#000, .35);

    h1 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

.listair {
    padding: 0.625em 0;
}

.contentbox {
    background: rgba(#fff, .8);
    padding: $column-gutter / 2;
}

.sidebarbox {
    padding: $column-gutter / 2;
}

li {
    list-style: none;
}

#applications {
    background: #fff;

    .applications {
        margin: 1.25em;
    }
}

form.editform {
    margin-top: 2em;
}

.tags a {
    padding: 2px;
    background: #fafafa;
    margin-left: 2px;
    border: 1px solid #f0f0f0;
    font-size: 10px;
}
