@charset "UTF-8";

// our variables
@import "settings";

// normalize lib
@import "normalize";

// foundation lib
@import "foundation";


// font-awesome
@import "font-awesome";

// our styles
.button {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ie-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	border: none;
}
.button:hover {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

nav a:hover {
	text-decoration: none;
}

html {
	min-height: 100%;
	background: #fff;
}

nav {
	box-shadow: 0px 0px 3px rgba(#000, .35);
}

.listair {
	padding: 0.625em 0;
}

.contentbox {
	background: rgba(#fff, .8);
	padding: $column-gutter / 2;
}

.sidebarbox {
	padding: $column-gutter / 2;
}

li {
	list-style: none;
}

#applications {
	background: #fff;

	.applications {
		margin: 1.25em;
	}
}

.app-a {
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%3Ctext%20class%3D%27svgtext%27%20x%3D%2750%25%27%20y%3D%2750%25%27%20style%3D%27dominant-baseline%3A%20central%3Btext-anchor%3A%20middle%3Bfill%3A%20%23f0f0f0%3Bfont-size%3A%2072pt%3B%27%3EA%3C/text%3E%3C/svg%3E");
}
.app-b {
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%3Ctext%20class%3D%27svgtext%27%20x%3D%2750%25%27%20y%3D%2750%25%27%20style%3D%27dominant-baseline%3A%20central%3Btext-anchor%3A%20middle%3Bfill%3A%20%23f0f0f0%3Bfont-size%3A%2072pt%3B%27%3EB%3C/text%3E%3C/svg%3E");
}
.app-c {
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%3Ctext%20class%3D%27svgtext%27%20x%3D%2750%25%27%20y%3D%2750%25%27%20style%3D%27dominant-baseline%3A%20central%3Btext-anchor%3A%20middle%3Bfill%3A%20%23f0f0f0%3Bfont-size%3A%2072pt%3B%27%3EC%3C/text%3E%3C/svg%3E");
}
.app-d {
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%3Ctext%20class%3D%27svgtext%27%20x%3D%2750%25%27%20y%3D%2750%25%27%20style%3D%27dominant-baseline%3A%20central%3Btext-anchor%3A%20middle%3Bfill%3A%20%23f0f0f0%3Bfont-size%3A%2072pt%3B%27%3ED%3C/text%3E%3C/svg%3E");
}
.app-e {
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%3Ctext%20class%3D%27svgtext%27%20x%3D%2750%25%27%20y%3D%2750%25%27%20style%3D%27dominant-baseline%3A%20central%3Btext-anchor%3A%20middle%3Bfill%3A%20%23f0f0f0%3Bfont-size%3A%2072pt%3B%27%3EE%3C/text%3E%3C/svg%3E");
}
.app-f {
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%3Ctext%20class%3D%27svgtext%27%20x%3D%2750%25%27%20y%3D%2750%25%27%20style%3D%27dominant-baseline%3A%20central%3Btext-anchor%3A%20middle%3Bfill%3A%20%23f0f0f0%3Bfont-size%3A%2072pt%3B%27%3EF%3C/text%3E%3C/svg%3E");
}
.app-g {
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%3Ctext%20class%3D%27svgtext%27%20x%3D%2750%25%27%20y%3D%2750%25%27%20style%3D%27dominant-baseline%3A%20central%3Btext-anchor%3A%20middle%3Bfill%3A%20%23f0f0f0%3Bfont-size%3A%2072pt%3B%27%3EG%3C/text%3E%3C/svg%3E");
}
.app-h {
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%3Ctext%20class%3D%27svgtext%27%20x%3D%2750%25%27%20y%3D%2750%25%27%20style%3D%27dominant-baseline%3A%20central%3Btext-anchor%3A%20middle%3Bfill%3A%20%23f0f0f0%3Bfont-size%3A%2072pt%3B%27%3EH%3C/text%3E%3C/svg%3E");
}

table.vask {
	tr:nth-of-type(even) {
		background: transparent;
	}

	td.app {
		vertical-align: top;
		text-align: middle;
		width: 250px;
		height: 220px;
		border: 1px solid $table-border-color;
		padding: 1em;
	}
}

