@charset "UTF-8";

// our variables
@import "variables";

// normalize lib
@import "../vendor/foundation/normalize";

// foundation 4 lib
@import "../vendor/foundation/foundation";

// our mixins
@import "mixins";

// our styles
$borderColor: rgba(170, 170, 170, .35);

$fbtnStart: #faaa4b;
$fbtnEnd: #ea9a3b;
$fbtnBorder: #e89839;

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

.button {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ie-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
    border: none;
}
.button:hover {
    text-decoration: none;
}

.fanzybutton {
    @include gradientBG($fbtnStart, $fbtnEnd);
    @include boxShadow(inset 0px 1px 0px rgba(255,255,255, .2));
    @include borderRadius(4px);

    text-shadow: 0px -1px 0px rgba(0,0,0, .2);
    text-indent: 0;
    border: 1px solid $fbtnBorder;
    display: inline-block;
    color: #fff;
    padding: .5em 1em;
    text-decoration: none;
    text-align: center;
}

.fanzybutton:hover {
    @include boxShadow(inset 0px 1px 0px rgba(255,255,255, .5));
    color: #fff;
    text-decoration: none;
}

.top-bar-section ul li > a:hover,
a:hover {
    text-decoration: underline;
}

nav a:hover {
    text-decoration: none;
}

html {
    min-height: 100%;
    background: #fff;
}

body * {
    -webkit-font-smoothing: antialiased;
}

nav {
    box-shadow: 0px 0px 3px rgba(#000, .35);

    h1 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

.listair {
    padding: 0.625em 0;
}

.listunderair {
    padding-bottom: 0.625em;
}

li {
    list-style: none;
}

.hero {
    background: transparent url(/img/hero.png);
}

form.editform {
    margin-top: 2em;
}

.tags {
    i {
        color: #b5b5b5;
        font-size: emCalc(12px);
    }

    .tag {
        padding: emCalc(2px) emCalc(4px);
        background: #fafafa;
        border: 1px solid $borderColor;
        font-size: emCalc(12px);
        font-weight: 200;

        &:hover {
            text-decoration: none;
        }
    }
}

#index {
    margin-top: emCalc(-30px);

    .hero {
        padding-top: 2em;
        padding-bottom: 2em;
        min-height: 200px;
        border-bottom: 1px solid $borderColor;

        .header {
            display: block;
            font: 400 emCalc(60px) "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #333;
            line-height: .8em;
            margin-bottom: .1em;
        }
        .description {
            display: block;
            font: 100 emCalc(60px) "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #b5b5b5;
            line-height: .8;
        }
    }

    .content {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .popular {
        h2 {
            font: 400 emCalc(30px) "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #333;
            line-height: .8em;
        }
    }

    .bookmarklet {
        border-top: 1px solid $borderColor;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;

        .header {
            display: block;
            font: 400 emCalc(30px) "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #333;
        }

        .description {
            display: block;
            font: 200 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #898989;
            line-height: .8em;
        }

        a {
            margin-top: 1em;
            cursor: move;
            width: emCalc(165px);
        }
    }
}
@media #{$small} {
    #index {
        .hero {
            padding-top: 5em;
            padding-bottom: 5em;
        }
    }
}

#links_index {
    li.link {
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid $borderColor;

        &:last-child {
            border-bottom: none;
        }
    }

    form {
        line-height: 1;
    }

    form.followers {
        margin: 1em 0 0 0;
    }

    .link {
        .title {
            font-size: emCalc(20px);
            font-weight: normal;
            margin-top: 0;
            margin-bottom: 0;
        }

        .subtext {
            font-size: emCalc(12px);
            font-weight: 200;
            color: #898989;

            i {
                font-size: emCalc(12px);
            }
        }

        .controls {
            float: right;
            margin: emCalc(5px);

            a {
                color: #898989;
                &:hover {
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
}