{{!< main}}
<div id="index">
    <section class="hero">
        <div class="row">
            <div class="small-4 columns">
                <img src="/img/screenshot.png" alt="screenshot"/>
            </div>
            <div class="small-8 columns">
                <h3>Remember the link</h3>
                <p>A place to store and share links.</p>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="small-12 columns">Yapp yapp</div>
        </div>
    </section>
</div