extends layouts/main

block content
  #index
    section.hero
      .row
        .medium-7.columns
          span.header remember the link
          span.description a place to store and share links
        .medium-5.columns.hide-for-small
          img.right(src="/img/screenshot.png" alt="screenshot")

    section.content
      .bubbles
        img(src="/img/bubbles.png")
        .row
          .small-4.columns.text-center
            p= __("Add")
          .small-4.columns.text-center
            p Tag
          .small-4.columns.text-center
            p Share
      .row.description
        .small-12.columns
          p Rememberthelink is a web tool where you can save, tag and share the links you find interesting, important or otherwise want to remember.
          p We do our development in public on %s, you can install Rememberthelink on your own server, and we make sure our export and import scripts are always tested.
          p We will admit we started this project because we were a bit unhappy about similar tools we knew about. And we did it to learn Node.js better.
      .row.popular
        .large-6.columns
          h2 Popular tags
          ul.tags
            each tag in tags
              li= tag
            p Total number of tags:&nbsp;
              = tag_count
        .large-6.columns
          h2 Popular urls
          ul.urls
            each url in urls
              li
                a(href=url)= url
          p Total number of urls:&nbsp;
            = url_count

block javascript
  script.
    require('s7n').base.indexView();
