{{!< main}}
<div id="index">
    <section class="hero">
        <div class="row">
            <div class="small-7 columns">
                <span class="header">remember the link</span>
                <span class="description">{{__ "a place to store and share links"}}</span>
            </div>
            <div class="small-5 columns">
                <img class="right" src="/img/screenshot.png" alt="screenshot"/>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="small-12 columns">We're working on it.</div>
        </div>
    </section>
</div