{{!< main}}
<section id="index">
    <div class="row">
        <div class="small-12 columns">
        	Hello world!
        	<i class="fa fa-camera-retro"></i> fa-camera-retro
        </div>
    </div>
</section>
