{{!< main}}
<section id="login">
    <div class="row">
        <div class="large-12 columns text-center">
            <a href="/auth/google" class="fanzybutton"><i class="icon-google-plus"></i> {{__ "Login with Google"}}</a>
        </div>
    </div>
</section>
