<form class="followers" method="post" action="/share">
    <div class="row collapse">
        <div class="small-10 columns">
            <input type="hidden" name="url" value="<%- url %>">
            <select class="" multiple name="id">
            <% _.each( followers, function(follower){ %>
                <option value="<%- follower._id %>"><%- follower.username %></option>
            <% }); %>
            </select>
        </div>
        <div class="small-2 columns">
            <button class="button prefix" type="submit"><%- share_translation %></button>
        </div>
    </div>
</form>