@mixin gradientBG($from, $to) {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $from), color-stop(1, $to) );
    background:-moz-linear-gradient( center top, $from 5%, $to 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    background-color:$from;
}

@mixin borderRadius($px) {
    -webkit-border-radius: $px;
    -moz-border-radius: $px;
    -o-border-radius: $px;
    border-radius: $px;
}

@mixin boxShadow($args...) {
    -moz-box-shadow: $args;
    -webkit-box-shadow: $args;
    box-shadow: $args;
}