{{> head}}
  <body>

    {{> nav}}

    {{{body}}}

    <script src="/js/vendor.js"></script>
    <script src="/js/site.js"></script>

    <script>
      $(document).foundation();
    </script>

    {{{block "footer"}}}
  </body>
</html>
