@charset "UTF-8";

// our variables
@import "settings";

// normalize lib
@import "normalize";

// foundation lib
@import "foundation";


// font-awesome
@import "font-awesome";

// our styles
.button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ie-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
}
.button:hover {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

nav.top-bar {
    margin-bottom: 0.5rem;
}

nav a:hover {
    text-decoration: none;
}

html {
    min-height: 100%;
    background: #fff;
}


.listair {
    padding: 0.625em 0;
}

li {
    list-style: none;
}
