{{!< main}}

<div class="row">
    <div class="large-12 columns">
        <h2>{{__ "Your most used tags"}}</h2>
        <ul>
            {{#each tags}}
            <li><a href="/tags/{{this}}">{{this}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
