{{!< main}}
<div class="row">
    <div class="large-12 columns">
        <h2>Import</h2>

        <form class="import" action="/import" method="post" enctype="multipart/form-data">
            <input type="file" name="import">
            <button type="submit">Upload</button>
        </form>
    </div>
</div>

{{#content "footer"}}
<script>
    $(document).s7n.initNewLinks();
</script>
{{/content}}
