{{!< main}}
<div class="row">
    <div class="large-12 columns">
        <h1>Find users</h1>
        <p>Search by username</p>
        <form action="/friends/search" method="GET">
            <div id="errors"></div>
            <div class="row collapse">
                <div class="small-10 columns">
                    <input id="username" type="text" name="username" placeholder="gismo">
                </div>
                <div class="small-2 columns">
                    <button class="button prefix">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="large-12 columns friends">
        {{#each users}}
        <h2 class="username">{{username}}</h2>
        <p>{{name}}</p>
        {{#doesnotfollow username}}
        <p><a href="/friends/add" class="add">Add</a></p>
        {{/doesnotfollow}}
        {{/each}}
    </div>
</div>

{{#content "footer"}}
<script>
$(document).s7n.initLinks();
</script>
{{/content}}
